Unity_Portfolio/Portfol.io/Library/
Unity_Portfolio/Portfol.io/Temp/UnityLockfile
Unity_Portfolio/Portfol.io/Temp/workerlic
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GrassUV01GrassUV01_Nd668f1e20ece139b.terrainlayer
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GrassUV01GrassUV01_Nd668f1e20ece139b.terrainlayer.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GrassUV02GrassUV02_N3d1cca0d6d0e9938.terrainlayer
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GrassUV02GrassUV02_N3d1cca0d6d0e9938.terrainlayer.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GroundCracked01GroundCracked01_N793646612c42751.terrainlayer
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GroundCracked01GroundCracked01_N793646612c42751.terrainlayer.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GroundDryLeaves01GroundDryLeaves01_N793646612c42751.terrainlayer
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GroundDryLeaves01GroundDryLeaves01_N793646612c42751.terrainlayer.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GroundStones01GroundStones01_N2023054508611406.terrainlayer
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainLayers/layer_GroundStones01GroundStones01_N2023054508611406.terrainlayer.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/Demo.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/Demo.unity
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/Demo.unity.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/DemoSettings.lighting
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/DemoSettings.lighting.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/Demo/LightingData.asset
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/Demo/LightingData.asset.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/Demo/ReflectionProbe-0.exr
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/DemoScene/Demo/ReflectionProbe-0.exr.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01_N.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01_N.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02_N.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02_N.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundCracked01.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundCracked01.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundCracked01_N.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundCracked01_N.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundDryLeaves01.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundDryLeaves01.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundDryLeaves01_N.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundDryLeaves01_N.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundStones01.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundStones01.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundStones01_N.png
Unity_Portfolio/Portfol.io/Assets/Unused assets/TerrainTexturesPackFree/TerrainTextures/GroundStones01_N.png.meta
Unity_Portfolio/Portfol.io/Assets/Unused assets.meta
